@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$logoFontSize: 30px;
$logoSize: $logoFontSize * 2;
$iconSize: 25px;
$navOffset: calc($logoSize/2 - $iconSize/2);


*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  display:grid;
  grid-template-columns: minmax(20vw,255px) 1fr 20vw;
  grid-template-rows: 5vh 10vh 1fr 1fr;
  gap: 15px;
  grid-template-areas: 
    "sidebar searchUser searchUser"
    "sidebar nameOperation nameOperation"
    "sidebar projects announcements"
    "sidebar projects trending";
}

.sidebar{
  grid-area: sidebar;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
}

.searchUserBar{
  grid-area: searchUser;
  background-color: green;
}

.nameOperationBar{
  grid-area: nameOperation;
  background-color: red;
}

.projectContainer{
  grid-area: projects;
  background-color: yellow;
}
.announcementContainer{
  grid-area: announcements;
  background-color: pink;
}

.trendingContainer{
  grid-area: trending;
  background-color: orange;
}

.material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }
.material-icons-outlined.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.navContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  gap: 1em;
}

.navContainer span{
  color: white;
  font-size: $iconSize;
}

.navContainer ul{
  list-style: none;
}

.navContainer li:nth-child(6){
  margin-bottom: 5em;
}

.navContainer a{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  margin-left: $navOffset;
  margin-top: .5em;
  text-decoration: none;
  font-size: $iconSize;
}

.logoContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
  margin-bottom: 2em;
}

.logoContainer span:first-child{
  font-size: $logoSize;
}

.logoName{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}



