@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$logoFontSize: 30px;
$logoSize: $logoFontSize *1.75;
$iconSize: 25px;
$navOffset: calc($logoSize/2 - $iconSize/2);
$pagePadding: 40px;

$sidebarColor: #083D77;
$backgroundColor: #eeeeee;
$accentColor: #e9bc1b;
$OperationButtons: #e45411;

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  height: 100%;
  width: 100%;
  display:grid;
  grid-template-columns: minmax(20vw,255px) 1fr 20vw;
  grid-template-rows: 10vh 15vh 1fr 1fr;
  grid-template-areas: 
    "sidebar searchUser searchUser"
    "sidebar nameOperation nameOperation"
    "sidebar projects announcements"
    "sidebar projects trending";
}

.sidebar{
  grid-area: sidebar;
  background-color: $sidebarColor;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $pagePadding $pagePadding 0 $pagePadding;
}

.searchUserBar{
  grid-area: searchUser;
  padding: $pagePadding $pagePadding 0 $pagePadding;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nameOperationBar{
  grid-area: nameOperation;
  padding: 0 $pagePadding 0 $pagePadding;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projectsContainer{
  grid-area: projects;
  padding: $pagePadding;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.announcementContainer{
  grid-area: announcements;
  padding: $pagePadding;
  background-color: $backgroundColor;
}

.trendingContainer{
  grid-area: trending;
  padding: 0 $pagePadding $pagePadding $pagePadding;
  background-color: $backgroundColor;
}

.material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }

.navContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  gap: 1em;
}

.navContainer span{
  color: white;
  font-size: $iconSize;
}

.navContainer ul{
  list-style: none;
}

.navContainer li:nth-child(6){
  margin-bottom: 5em;
}

.navContainer a{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  margin-left: $navOffset;
  margin-top: .5em;
  text-decoration: none;
  font-size: $iconSize;
  font-weight: 600;
}

.logoContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
  margin-bottom: 2em;
}

.logoContainer img{
  width: $logoSize;
  height: $logoSize;
}

.logoName{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.searchBar{
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#searchInput{
  width: 100%;
  height: 2em;
  border-radius: 2em;
  border: none;
  padding: 0 1em;
  margin-left: 1em;
  font-size: 1em;
  background-color: $backgroundColor;
}

#searchButton{
  font-size: 24px;
  background:none;
  border:none;
}

.userContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-left: 12px;
}

.userContainer img{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.nameContainer{
  padding:1em;
  display:grid;
  column-gap: 1em;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "avatar greeting"
    "avatar name";
}

.nameContainer img{
  grid-area: avatar;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.nameContainer>em{
  grid-area: greeting;
  font-size: 1em;
}
.nameContainer>div{
  grid-area: name;
  font-size: 1.5em;
}

.operationContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.operationContainer button{
  font-size: 1em;
  background-color: $OperationButtons;
  border:none;
  border-radius: 2em;
  color: white;
  width: 8em;
  height: 2em;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.operationContainer>button>span{
  margin-right:.5em;
}
.projectsTitle{
  margin-bottom: 16px;
}
.projectsSubcontainer{
  display:grid;
  gap: 1em;
  width:100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projectCard{
  padding:16px;
  height:200px;
  background-color: white;
  border-radius: 1em;
  border-left:1em solid $accentColor;
  display:grid;
  grid-template-columns: 1fr 40px 40px 40px;
  grid-template-rows: 2em 1fr 40px;
  grid-template-areas: 
  "title title title title"
  "body body body body"
  ". favorite watch share"
  ;

}

.projectCardTextHeading{
  grid-area: title;
  font-size: 1.5em;
  font-weight: bold;
}
.projectCardTextBody{
  grid-area: body;
  font-size: 1em;
}

.projectCard>button{
  background:none;
  border:none;

}
.cardFavoriteButton{
  grid-area: favorite;
}
.cardWatchButton{
  grid-area: watch;
}
.cardShareButton{
  grid-area: share;
}

.announcementTitle{
  margin-bottom: 16px;
  font-weight: bold;
}

.announcementSubcontainer, .trendingSubcontainer{
  padding:16px;
  display:flex;
  gap: 1em;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.trendingSubcontainer{
  gap:2em;
}

.trendingTitle{
  margin-bottom: 16px;
}

.trendingCard{
  display:grid;
  column-gap: 10px;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "avatar handle"
  "avatar name";
}

.trendingCardIcon{
  grid-area: avatar;
  border-radius: 100%;
  width: 48px;
  height: 48px;
}

.trendingCardHandle{
  grid-area: handle;
  font-size: 1em;
}

.trendingCardDisplayName{
  grid-area: name;
  font-size: 1em;
}